* {
    margin: 0;
    padding: 0;
}
body{
    background: url('bg.jpg') no-repeat center center/cover;
   height: 100vh;
}
nav ul li a{
    text-decoration: none;
    margin-left: 3vw;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
nav ul li a:hover, nav ul li button:hover{
    border: 1px solid #00000036;
   color:#00000036 ;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    font-weight: bolder;
}
nav ul li  button {
    margin-top: -2px;
    margin-left: 3vw;
    font-size: 22px;
    cursor: pointer;
    background-color:#00000036 ;
    color: white;
    border: 1px solid #00000036;
    border-radius: 20px;
    padding: 5px;
}

nav ul li {
    list-style: none;
}

nav ul {
    margin-left: 50vw;
    margin-top: 25px;
    display: flex;
    
}

.navbar {
    background-color: #00000036;
    display: flex;
    position: sticky;
    top: 0;
}
.textimg h1{
    position: absolute;
    top: 18vh;
    font-size: 50px;
    border: 2px solid white;
    width: 420px;
    left: 33vw;
    padding-left: 10px;
}
.textimg button{
    position: absolute;
    top: 30vh;
    border: 2px solid white;
   font-size: 20px;
    left: 33vw;
margin-left: 150px;
border-radius: 20px;
padding: 3px;
cursor: pointer;
}
.textimg button:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.textimg pre{
    color: white;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    top: 92vh;
  
}
.vision h1{
margin-top: 700px;
text-align: center;
font-size: 35px; 
}
.vision{
    background: url('bg2.jpg') no-repeat center center/cover;
}
.us{
    display: flex;
    justify-content:space-between;
}
.about{
    display: flex;
    width: 400px;
    margin-left: 200px;
    margin-top: 50px;
}
.arpanimg img{
    margin-right: 40px;
}
.post h1{
    text-align: center;
    font-size: 35px; 
    margin-top: 35px;
}
.item{
    border: 2px solid black;
    margin-left: 40px;
    width: 400px;
    text-align: center;
    padding-top: 20px;
    height: 400px;
    line-height: 30px;
}
.items{
    margin-top: 30px;
    display: flex;
    text-align: center;
}
.item button{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 7px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.item button:hover{
    zoom: 1.1;
}
footer p{
    background-color: black;
    color: white;
    height: 40px;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}
.about{
    font-size: 25px;
    width: 400px;
}